a {
  text-decoration: none;
}

.g-cursor {
  cursor: pointer;
}
.g-center {
  text-align: center;
}
.g-title {
  font-size: 24px;
}

.fodder_title {
  font-size: 24px;
  font-weight: 400;
}

// react-viewer组件样式重置
.react-viewer-mask {
  z-index: 1059 !important;
  // background-color: rgba(0, 0, 0, .8) !important;
  background-color: rgba(55, 55, 55, .8);
}
.react-viewer {
  .react-viewer-canvas, .react-viewer-footer {
    z-index: 1060 !important;
  }
  .react-viewer-close {
    z-index: 1061 !important;
  }
}

.g-darkBg {
  position: fixed;
  background-color: #000;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 1052;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.g-hidden {
  display: none;
}


/*
  全局颜色变量
*/
// 全局红
$global-red: #D50202;// rgb(213, 2, 2)
// hover红
$item-hover-red: rgba(213, 2, 2, .12);
// 阴影
$box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
// 黑色背景
$global-black: #333;
// 白字颜色
$global-white: #fff;
// 全局背景白
$global-bg: #fff;
// 全局border-radius
$global-radius: 4px;