.layout {

    .theHeader {
        
        .logo {
            float: left;
            width: 120px;
            height: 31px;
            margin: 16px 24px 16px 0;
            background: rgba(255, 255, 255, 0.3);
        }

        .theMenu {
            display: flex;
        }

        .rightPane {
            float: right;
            cursor: pointer;
            margin-top: -64px;
        }
    }

    .theContent {
        padding: 20px 50px;

        .ant-breadcrumb {
            height: 30px;
        }

        .site-layout-content {
            min-height: 280px;
            padding: 24px;
            background: #fff;
        }
    }
}